.main{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.side-bar{
    float: left;
    width: 25%;
}
.main-content{
    padding-left: 50px;
    float: left;
    width: 75%;
}
.h-50{
    height: 50px;
}
.h-70{
    height: 70px;
}
.h-150{
    height: 150px;
}
.col-25{
    width: 25%;
}
.color-pink-1{
    background: #F0807F;
}
.color-pink-2{
    background: #F0807F;
}
.color-pink-3{
    background: #FFA07A;
}
.color-yellow{
    background: #BECF67;
}
.color-blue-1{
    background: #008A8A;
}
.color-blue-2{
    background: #ACD9E6;
}
.color-green-1{
    background: #9EFF98;
}
.color-green-2{
    background: #008001;
}
.color-gray{
    background: gray;
}
.banner{
    height: 300px;
}
